<div class="container d-flex">
  <div class="section1 d-flex flex-column align-items-center mt-3 mt-lg-5 me-xl-1 me-xxl-5">
    <div>
      <img class="cover" [src]="book.cover" alt="Book Cover">
    </div>
    <div class="buttons d-flex justify-content-around flex-row mt-3">
      <a class="btn btn-outline-primary me-5"  (click)="borrowBook()">
        Borrow Book
      </a>
      <a class="btn btn-outline-warning ms-auto" (click)="addToFavourite()">
        Add to Favourites
      </a>
    </div>
  </div>
  <div class="section2 d-flex flex-column align-items-lg-start align-items-center ms-md-4 ms-xl-5 mt-3 mt-lg-4 mx-sm-0 me-xl-2">
    <div class="title-container text-center">
      <h1 class="title">{{ book.title }}</h1>
    </div>
    <div class="d-flex flex-column mt-5">
      <div class="d-flex flex-md-row mx-md-0 flex-lg-row justify-content-between me-3 ms-3 mx-md-3">
        <h5 class="me-4">Author: {{ book.authorName }}</h5>
        <h5 class="ms-lg-4 ms-sm-2">ISBN: {{ book.isbn }}</h5>
      </div>
      <div class="d-flex flex-md-row mx-md-0 flex-lg-row justify-content-between me-3 ms-3 mx-md-3 mt-2">
        <div class="d-flex flex-column">
          <h5 class="fw-bold" *ngIf="book.rate || 0 > 0">
            Ratings: {{book.rate}}
          </h5>
          <div class="mx-2">
            <app-rating [borrow]="true" [rating]="book.rate || 0"></app-rating>
          </div>
        </div>
        <h5>Owner: {{ book.owner }}</h5>
      </div>
    </div>
    <div class="synopsis mt-4 overflow-auto">
      <p class="description me-3 ms-3 md-mx-0">{{ book.synopsis }}</p>
    </div>
  </div>
</div>
<hr>
<div class="container container2">
  <h4>Comments</h4>
  <div *ngFor="let feedback of book.feedbacks">
    <p class="fw-bold fs-4">{{ feedback.get_user }}:</p>
    <p>{{ feedback.comment }}</p>
  </div>
</div>
