.container{
  background-color: var(--background-color);
  color: var(--text-color);
}

.buttons {
  margin: 10px auto;
  display: block;
}

.section1 {
  width: 100%;
}

.section2 {
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .cover {
    height: 400px;
    width: 350px;
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
  }
  .title-container {
    width: 400px;
  }

  .container2 {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cover {
    height: 400px;
    width: 350px;
  }
  .title-container {
    width: 300px;
  }
}


@media only screen and (min-width: 992px) {
  .cover {
    height: 600px;
    width: 500px;
  }
  .title-container {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .cover {
    height: 700px;
    width: 600px;
  }
  .title-container {
    width: 500px;
  }
}
