/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container{
  width: 800px;
  margin-top: 15%;
}

/* Default light theme */
:root {
  --background-color: white;
  --text-color: black;
  --navbar-background-color: #f8f9fa;
}

/* Dark theme */
.dark-theme {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-background-color: #343a40;
}

.base {
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--navbar-background-color);
}
